<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!--BOOTSTRAP-->
    <meta name=viewport content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
	<!--LINK TO CSS-->
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    
    <!--GOOGLE FONTS-->
    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil|Chivo:700" rel="stylesheet">

	<!--JQUERY CDN-->
	<script
  	src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  	integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
    crossorigin="anonymous"></script>

    <script type="text/javascript" src="../models/java.js"></script>
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
                <!--NAVBAR-->
        <nav class="navbar navbar-default" id="navbar">
            <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="index.html"><strong>up-keep</strong></a>
                  </div>
                    <ul class="nav navbar-nav">
                        <li><a href="#">Preventative</a></li>
                        <li><a href="#">How do I</a></li>
                        <li><a href="#">Get Help</a></li>
                  </ul>
            </div>
        </nav>


        <div class="container">
            <h2>Dropdowns</h2>
            <p>The .divider class is used to separate links inside the dropdown menu with a thin horizontal line:</p>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Tutorials
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                    <li class="dropdown-header"><strong>Category</strong></li>
                <li><a href="#">Plumbing</a></li>
                <li><a href="#">HVAC</a></li>
                <li><a href="#">Electrical</a></li>
                <li><a href="#">Landscaping</a></li>
                <li><a href="#">Painting</a></li>
                <li><a href="#">General Home Maintenance</a></li>
                <li class="divider"></li>
                <li class="dropdown-header"><strong>Season</strong></li>
                <li><a href="#">Annually</a></li>
                <li><a href="#">Every Season</a></li>
                <li><a href="#">Spring</a></li>
                <li><a href="#">Summer</a></li>
                <li><a href="#">Fall</a></li>
              </ul>
            </div>
          </div>

          <div class="container checkbox" id="maintextarea">
               <ul><label><input type="checkbox" value="">Change anode rod 
                
                <a href="#" data-toggle="popover" data-trigger="hover" data-content="Some content"><img src="../public/img/icons/info.png"></a>

                <a href="#" data-toggle="popover" data-trigger="hover" data-content="Some content"><img src="../public/img/icons/question.png"></a>

                <a href="#" data-toggle="popover" data-trigger="hover" data-content="Some content"><img src="../public/img/icons/camera.png"></a>

            </label></ul>
                <ul><label><input type="checkbox" value="">Call a plumber</label></ul>
              </div>

</body>